.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;

}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

/* .star {
  font-size: 2.0rem;
  color: #eaf3f2;
} */
.filled {
  color: #3dd81e;
}
/* .bad {
  color: #deb0b0;
} */
/* .filled.bad {
  color: #ff1e1e;
} */

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}