<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8">
        <h1>Create Category</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You must complete all fields. 
      </div>
    </div>
  </div>
   <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="tab-panel">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="addCategory()">
              <h4>Enter Title</h4>
              <textarea name="title" rows="1" class="form-control" 
                [(ngModel)]="title"></textarea>
              <h4>Enter Description</h4>
              <textarea name="description" rows="6" class="form-control" 
                [(ngModel)]="description"></textarea>
              <h4 class="mt-1">Add Image to Category</h4>
                <input 
                  type="file" 
                  (change)="onSelectedFile($event)">
                <button *ngIf="!loading" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block mt-4">Create</button>
                <button *ngIf="loading" class="btn btn-success btn-block mt-4" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
          </form>
        </div>
      </div>
   </div>
</div>


