<div *ngIf="haveMovies()" class="text-center mt-3">
    <h2>{{category.title}} list</h2>
</div>
<div *ngIf="haveMovies()" class="container-fluid mt-5">
  
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadMovies()" novalidate>

    <div class="col">
      <div class="form-group float-right">
        <label for="filter">Show: </label>
        <select class="form-control ml-1" style="width: 130px" id="filter"
          [(ngModel)]="userParams.orderBy" name="filter">
          <option *ngFor="let filter of filterList" [value]="filter.value">
            {{filter.display}}
          </option>
        </select>
        <button type="submit" class="btn btn-secondary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-warning" (click)="resetFilter()" style="margin-left:10px">Reset Filter</button>
      </div>
    </div>
      
    <div class="col">
        <div class="btn-group">
            <a role="button" class="btn btn-primary btn-block" [routerLink]="['/movies']">Add Movies</a>
        </div>
    </div>
  </form>
  <br>
  
  <div class="row justify-content-center">
    <div *ngFor='let movie of movies' class="col-lg-2 col-md-3 col-sm-6">
        <app-movie-card [movie]="movie" (deletedMovie)="deleteMovie($event)"></app-movie-card>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    
      </pagination>
    </div>
</div>

<div *ngIf="!haveMovies()" class="jumbotron">
  <h1 class="display-4 text-center">Start adding movies to your "{{ category.title }}" list!</h1>
  <div class="text-center">
      <a role="button" class="btn btn-primary btn-lg mt-5" [routerLink]="['/movies']"> Find Movies To Add</a>
  </div>
</div>




